{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "@babel/react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-flow-strip-types"
  ]
}
